<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, HtmlRequiredTitleElement -->
<html lang="en_us">
<head th:replace="fragments/global :: head(title='404')"></head>
<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>
    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>
        <div class="center-div">
            <img alt="404" class="error-image" src="https://images.original.gg/404.png">
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="https://js.original.gg/translator.js"></script>
</body>
</html>