<?php 
    $page = 'index';
?>
<!--suppress ThymeleafVariablesResolveInspection -->
<html>
<head>
    <title>Original | Complaints</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://i.imgur.com/W6F7QEN.png" rel="icon" sizes="32x32" type="image/png"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://css.original.gg/style.css" rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/6.2.95/css/materialdesignicons.min.css"
          integrity="sha512-tYefTUoWKpCvU14EKu/b/VxnSaT3+1ZBlL0BhTPSYCiqsMTbGylad3l6HCr9i4vpsDgJIFke+LQBq3MCXko6Qw=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,800;0,900;1,800&display=swap"
          rel="stylesheet">
</head>
<body>
<div id="page">
    <div class="page-sidebar">
        <div class="nav-content">
            <div id="logo">
                <a href="/"><img src="https://i.imgur.com/5MjoUuh.png"></a>
            </div>
            <div id="sidebar-links">
                <ul>
                    <li class="active"><a href="/"><i class="mdi mdi-home"></i> <span class="text" id="home">Home</span></a></li>
                    <li><a href="/staff"><i class="mdi mdi-shield"></i> <span class="text" id="staff">Staff</span></a></li>
                    <li><a href="/complain"><i class="mdi mdi-alert-circle"></i> <span class="text" id="complaints">Complaints</span></a></li>
                    <li><a href="/unban"><i class="mdi mdi-ticket"></i> <span class="text" id="unban">Unban Requests</span></a></li>
                    <li><a href="/bug"><i class="mdi mdi-bug-outline"></i> <span class="text" id="bugs">Bugs</span></a></li>
                    <li><a href="/rules"><i class="mdi mdi-book-open-variant"></i> <span class="text" id="rules">Rules</span></a></li>
                    <li><a href="/entries"><i class="mdi mdi-clipboard-list"></i> <span class="text" id="entries">Entries <!--(Staff Applications, Complains, Unbans, Bugs)--></span></a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="page-top-bar">
            <div class="container">
                <div class="left">
                    <a href="https://discord.gg/original" target="_blank"><i class="mdi mdi-discord"></i></a>
                    <a href="https://tiktok.com/@original.gg__official" target="_blank"><i class="fab fa-tiktok"></i></a>
                    <a href="https://instagram.com/original.gg__official/" target="_blank"><i class="mdi mdi-instagram"></i></a>
                    <a href="https://youtube.com/channel/UC3VrKxY8oDM6pldT_kbAgag/featured" target="_blank"><i class="mdi mdi-youtube"></i></a>
                    <a href="https://store.original.gg" target="_blank"><i class="mdi mdi-cart"></i></a>
                    <a href="https://vote.original.gg" target="_blank"><i class="mdi mdi-map-marker-check"></i></a>
                </div>
                <div class="right">
                    <img class="language-chose pointer" src="https://images.original.gg/english.png" onclick="changeLanguage('en')">
                    <img class="language-chose pointer" src="https://images.original.gg/romanian.png" onclick="changeLanguage('ro')">

                    <a class="search-btn" href="/"><i class="mdi mdi-magnify"></i></a>
                    <a class="top-btn login" href="/login" id="login-button">Login</a>
                </div>
            </div>
        </div>
        <div class="content-wrap">
            <div class="container">
                <h1 class="panel-title" id="complain-title">Submit a complaint</h1>

                <h3 id="error">Error message here</h3>
                <h2 class="approved" id="approved" hidden="hidden" th:if="${complain.decision.toString() == 'APPROVED'}">Approved</h2>
                <h2 class="denied" id="denied" hidden="hidden" th:if="${complain.decision.toString() =='DENIED'}">Denied</h2>
                <div class="panel-form">
                    <form>
                        <div class="form-group">
                            <label for="user" id="id-label">ID</label>
                            <input class="form-control" id="id" type="text" readonly="readonly" th:value="${complain.id}">
                        </div>
                        <div class="form-group">
                            <label for="user" id="user-label">By</label>
                            <input class="form-control" id="user" type="text" readonly="readonly" th:value="${complain.user}">
                        </div>
                        <div class="form-group">
                            <label for="target" id="target-label">Target</label>
                            <input class="form-control" id="target" type="text" readonly="readonly" th:value="${complain.target}">
                        </div>
                        <div class="form-group">
                            <label for="section" id="section-label">Section</label>
                            <input class="form-control" id="section" type="text" readonly="readonly" th:value="${complain.section}">
                        </div>
                        <div class="form-group">
                            <label for="date_and_time" id="date_and_time-label">Date and Time</label>
                            <input class="form-control" id="date_and_time" type="text" readonly="readonly" th:value="${complain.dateAndTime}">
                        </div>
                        <div class="form-group">
                            <label for="description" id="description-label">Description</label>
                            <textarea class="form-control vertical-text" id="description" readonly="readonly" th:text="${complain.description}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="proof" id="proof-label">Proof</label>
                            <textarea class="form-control vertical-text" id="proof" readonly="readonly" th:text="${complain.proof}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="target-response" id="target-response-label">Target Response</label>
                            <textarea class="form-control vertical-text" id="target-response"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="target-response-db" id="target-response-db-label" hidden="hidden">Target Response</label>
                            <textarea class="form-control vertical-text" id="target-response-db" hidden="hidden" th:text="${complain.targetResponse}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="status" id="status-label" hidden="hidden">Status</label>
                            <textarea class="form-control vertical-text" id="status" readonly="readonly" th:text="${complain.status}" hidden="hidden"></textarea>
                        </div>
                        <div class="form-buttons">
                            <button class="form-button submit" id="complain-submit" type="button">Submit</button>
                            <button class="form-button cancel" id="cancel">Cancel</button>
                        </div>
                        <div class="form-buttons">
                            <button class="form-button approve" id="approve" type="button" hidden="hidden">Approve</button>
                            <button class="form-button deny" id="deny" type="button"  hidden="hidden">Deny</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://js.original.gg/scripts.js"></script>
<script>
    complaintsDetails();
</script>

</body>
</html>