<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, HtmlRequiredTitleElement -->
<html lang="en_us">

<head th:replace="fragments/global :: head(title='Complain')"></head>

<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>

    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>

        <div class="content-wrap">
            <div class="container">
                <h1 class="panel-title" id="complain-title">Submit a complaint</h1>

                <h3 id="error">Error message here</h3>

                <div class="panel-form">
                    <form>
                        <div class="form-group">
                            <label for="target" id="target-label">Target</label>
                            <input class="form-control" id="target" type="text">
                        </div>
                        <div class="form-group">
                            <label for="section" id="section-label">Section</label>
                            <input class="form-control" id="section" type="text">
                        </div>
                        <div class="form-group">
                            <label for="date_and_time" id="date_and_time-label">Date and Time</label>
                            <input class="form-control" id="date_and_time" type="text">
                        </div>
                        <div class="form-group">
                            <label for="description" id="description-label">Description</label>
                            <textarea class="form-control vertical-text" id="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="proof" id="proof-label">Proof</label>
                            <textarea class="form-control vertical-text" id="proof"></textarea>
                        </div>
                        <div class="form-buttons">
                            <button class="form-button submit" id="complain-submit" type="button">Submit</button>
                            <button class="form-button cancel" id="cancel">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/complains.js"></script>

<script>
    complainsTemplate();
</script>

</body>
</html>