<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, ThymeleafVariablesResolveInspection, HtmlRequiredTitleElement -->
<html lang="en_us">
<head th:replace="fragments/global :: head(title='Complain ' + ${complain.id})"></head>

<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>

    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>

        <div class="content-wrap" id="logged-in-required">
            <div class="container">
                <h1 class="panel-title">Complain</h1>

                <h3 id="error">Error message here</h3>
                <h2 class="approved" id="approved" hidden="hidden" th:if="${complain.decision.toString() == 'APPROVED'}">Approved</h2>
                <h2 class="denied" id="denied" hidden="hidden" th:if="${complain.decision.toString() =='DENIED'}">Denied</h2>
                <div class="panel-form">
                    <form>
                        <div class="form-group">
                            <label for="id" id="id-label">ID</label>
                            <input class="form-control" id="id" type="text" readonly="readonly" th:value="${complain.id}">
                        </div>
                        <div class="form-group">
                            <label for="user" id="user-label">By</label>
                            <input class="form-control" id="user" type="text" readonly="readonly" th:value="${complain.user}">
                        </div>
                        <div class="form-group">
                            <label for="target" id="target-label">Target</label>
                            <input class="form-control" id="target" type="text" readonly="readonly" th:value="${complain.target}">
                        </div>
                        <div class="form-group">
                            <label for="section" id="section-label">Section</label>
                            <input class="form-control" id="section" type="text" readonly="readonly" th:value="${complain.section}">
                        </div>
                        <div class="form-group">
                            <label for="date_and_time" id="date_and_time-label">Date and Time</label>
                            <input class="form-control" id="date_and_time" type="text" readonly="readonly" th:value="${complain.dateAndTime}">
                        </div>
                        <div class="form-group">
                            <label for="description" id="description-label">Description</label>
                            <textarea class="form-control vertical-text" id="description" readonly="readonly" th:text="${complain.description}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="proof" id="proof-label">Proof</label>
                            <textarea class="form-control vertical-text" id="proof" readonly="readonly" th:text="${complain.proof}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="target-response" id="target-response-label" hidden>Target Response</label>
                            <textarea class="form-control vertical-text" id="target-response" hidden></textarea>
                        </div>
                        <div class="form-group">
                            <label for="target-response-db" id="target-response-db-label" hidden>Target Response</label>
                            <textarea class="form-control vertical-text" id="target-response-db" hidden th:text="${complain.targetResponse}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="status" id="status-label" hidden="hidden">Status</label>
                            <textarea class="form-control vertical-text" id="status" readonly="readonly" th:text="${complain.status}" hidden="hidden"></textarea>
                        </div>
                        <div class="form-buttons">
                            <button class="form-button submit" id="complain-submit" type="button" hidden>Submit</button>
                            <button class="form-button cancel" id="cancel" hidden>Cancel</button>
                        </div>
                        <div class="form-buttons">
                            <button class="form-button approve" id="approve" type="button" hidden>Approve</button>
                            <button class="form-button deny" id="deny" type="button"  hidden>Deny</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="https://js.original.gg/complains.js"></script>
<script src="https://js.original.gg/translator.js"></script>
<script>
    complaintsDetails();
</script>

</body>
</html>