<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, ThymeleafVariablesResolveInspection, HtmlRequiredTitleElement -->
<html xmlns:th="http://www.thymeleaf.org" lang="en_us">
<head th:replace="fragments/global :: head(title='Entries')"></head>
<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>

    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>

        <div class="content-wrap" id="logged-in-required">
            <div class="container">
                <div style="display: block">
                    <h2><strong>Complaints</strong></h2>
                    <div class="panel-table">
                        <table>
                            <tr>
                                <th>ID</th>
                                <th id="by">By</th>
                                <th id="target">Target</th>
                                <th id="creation_date">Creation Date</th>
                            </tr>
                            <tr th:each="complain : ${complaints}" th:data-arg1="${complain.getURL}" onclick="redirect(this.getAttribute('data-arg1'));">
                                <td th:text="${complain.id}" class="no-decorate-url">Unknown</td>
                                <td th:text="${complain.user}">Unknown</td>
                                <td th:text="${complain.target}">Unknown</td>
                                <td th:text="${complain.getTimestampDate}">Unknown</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br><br>
                <div style="display: block">
                    <h2><strong>Unbans</strong></h2>
                    <div class="panel-table">
                        <table>
                            <tr>
                                <th>ID</th>
                                <th id="by-1">By</th>
                                <th>Staff</th>
                                <th id="creation_date-1">Creation Date</th>
                            </tr>
                            <tr th:each="unban : ${unbans}" th:data-arg1="${unban.getURL}" onclick="redirect(this.getAttribute('data-arg1'));">
                                <td th:text="${unban.id}" class="no-decorate-url">Unknown</td>
                                <td th:text="${unban.user}">Unknown</td>
                                <td th:text="${unban.staff}">Unknown</td>
                                <td th:text="${unban.getTimestampDate}">Unknown</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br><br>
                <div style="display: block">
                    <h2><strong>Bugs</strong></h2>
                    <div class="panel-table">
                        <table>
                            <tr>
                                <th>ID</th>
                                <th id="by-2">By</th>
                                <th id="section">Section</th>
                                <th id="description">Description</th>
                                <th id="creation_date-2">Creation Date</th>
                            </tr>
                            <tr th:each="bug : ${bugs}" th:data-arg1="${bug.getURL}" onclick="redirect(this.getAttribute('data-arg1'));">
                                <td th:text="${bug.id}" class="no-decorate-url">Unknown</td>
                                <td th:text="${bug.user}">Unknown</td>
                                <td th:text="${bug.section}">Unknown</td>
                                <td th:text="${bug.description}">Unknown</td>
                                <td th:text="${bug.getTimestampDate}">Unknown</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br><br>
                <div style="display: block">
                    <h2><strong>Applies</strong></h2>
                    <div class="panel-table">
                        <table>
                            <tr>
                                <th>ID</th>
                                <th id="by-3">By</th>
                                <th id="section-2">Section</th>
                                <th id="creation_date-3">Creation Date</th>
                            </tr>
                            <tr th:each="apply : ${applies}" th:data-arg1="${apply.getURL}" onclick="redirect(this.getAttribute('data-arg1'));">
                                <td th:text="${apply.id}" class="no-decorate-url">Unknown</td>
                                <td th:text="${apply.user}">Unknown</td>
                                <td th:text="${apply.section}">Unknown</td>
                                <td th:text="${apply.getTimestampDate}">Unknown</td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>

<script src="https://js.original.gg/translator.js"></script>
<script src="https://js.original.gg/entries.js"></script>
<script>
    entriesTemplate();
</script>
</body>
</html>