<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, HtmlRequiredTitleElement, ThymeleafVariablesResolveInspection, RequiredAttributes -->
<html lang="en_us">
<head th:replace="fragments/global :: head(title='401')"></head>
<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>
    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>
        <div class="center-div">
            <img alt="error" class="error-image" th:src="'/images/' + ${error} + '.png'">
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>

</body>
</html>