<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, ThymeleafVariablesResolveInspection, HtmlRequiredTitleElement -->
<html xmlns:th="http://www.thymeleaf.org" lang="en_us">
<head th:replace="fragments/global :: head(title='Dashboard')"></head>

<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>

    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>


        <!--suppress ThymeleafVariablesResolveInspection -->
        <h3 th:text="${message}" class="home-message"></h3>
        <div class="content-wrap">
            <div class="container">
                <div class="panel-grid">
                    <div class="panel">
                        <small id="donors">Donators</small>
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <h2 th:text="${donors_count}"></h2>
                    </div>
                    <div class="panel">
                        <small id="registered">Registered Players</small>
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <h2 th:text="${registered_count}"></h2>
                    </div>
                    <div class="panel">
                        <small id="online">Online Players</small>
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <h2 th:text="${online_players_count}"></h2>
                    </div>
                </div>
                <div class="panel-grid" style="padding-top: 30px;">
                    <div class="panel">
                        <small id="donations_goal" th:text="${'Donations Goal - ' + donations_goal + '%'}"></small>
                        <div class="panel-grid" style="padding-top: 15px">
                            <progress max="100" th:value="${donations_goal}" th:text="${donations_goal}"></progress>
                        </div>
                    </div>
                    <div class="panel">
                        <small id="top_donator">Top Donator</small>
                        <div>
                            <span style="font-size: 25px; color: #ffffff" th:text="${top_donator_name + ' - '}">Panda110_ - </span>
                            <span style="color: #81c8ff; font-size: 25px" th:text="${top_donator_amount + '€'}">10.000€</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="notification-wrap" id="notifications">

        </div>

    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>


<script src="/js/notifications.js"></script>
<script>
    loadNotifications();
</script>
</body>
</html>