<!--suppress JSUnresolvedLibraryURL, HtmlUnknownTarget, HtmlRequiredTitleElement -->
<html lang="en_us">
<head th:replace="fragments/global :: head(title='Login')"></head>

<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>

    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>

        <div class="content-wrap">
            <div class="container">
                <h1 class="panel-title" id="login-title">Login</h1>

                <h3 id="error">Error message here</h3>

                <div class="panel-form">
                    <div class="form-block">
                        <div class="form-group">
                            <label for="username" id="username-label">Username</label>
                            <input class="form-control" type="text" id="username" name="fname">
                        </div>
                        <div class="form-group">
                            <label for="password" id="password-label">Password</label>
                            <input class="form-control" type="password" id="password">
                        </div>
                        <div class="form-buttons">
                            <button class="form-button submit" id="login-submit" type="button">Login</button>
                            <button class="form-button cancel" id="cancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>

<script src="/js/login.js"></script>

<script>
    loginTemplate();
</script>
</body>
</html>