<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, HtmlRequiredTitleElement -->
<html lang="en_us">
<head th:replace="fragments/global :: head(title='Maintenance')"></head>
<body>
<div id="page">
    <div class="page-content">
        <div class="center-div">
            <h1>Maintenance. For more details you can contact us on <a href="https://discord.gg/original">Discord</a></h1>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>

</body>
</html>