<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL -->
<!DOCTYPE HTML>
<html lang="en_us">
<head>
    <title>Original | Dashboard</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://images.original.gg/logo.png" rel="icon" sizes="32x32" type="image/png"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://css.original.gg/style.css" rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/6.2.95/css/materialdesignicons.min.css"
          integrity="sha512-tYefTUoWKpCvU14EKu/b/VxnSaT3+1ZBlL0BhTPSYCiqsMTbGylad3l6HCr9i4vpsDgJIFke+LQBq3MCXko6Qw=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,800;0,900;1,800&display=swap"
          rel="stylesheet">
</head>
<body>
<div id="page">
    <div class="page-sidebar">
        <div class="nav-content">
            <div id="logo">
                <a href="/"><img src="https://images.original.gg/logo.png" alt="logo"></a>
            </div>
            <div id="sidebar-links">
                <ul>
                    <li class="active"><a href="/"><i class="mdi mdi-home"></i> <span class="text" id="home">Home</span></a></li>
                    <li><a href="/staff"><i class="mdi mdi-shield"></i> <span class="text" id="staff">Staff</span></a></li>
                    <li id="complaints-item"><a href="/complain"><i class="mdi mdi-alert-circle"></i> <span class="text" id="complaints">Complaints</span></a></li>
                    <li id="unban-item"><a href="/unban"><i class="mdi mdi-ticket"></i> <span class="text" id="unban">Unban Requests</span></a></li>
                    <li id="bugs-item"><a href="/bug"><i class="mdi mdi-bug-outline"></i> <span class="text" id="bugs">Bugs</span></a></li>
                    <li><a href="/rules"><i class="mdi mdi-book-open-variant"></i> <span class="text" id="rules">Rules</span></a></li>
                    <li id="entries-item"><a href="/entries"><i class="mdi mdi-clipboard-list"></i> <span class="text" id="entries">Entries <!--(Staff Applications, Complains, Unbans, Bugs)--></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="page-top-bar">
            <div class="container">
                <div class="left">
                    <a href="https://discord.gg/original" target="_blank"><i class="mdi mdi-discord"></i></a>
                    <a href="https://tiktok.com/@original.gg__official" target="_blank"><i class="fab fa-tiktok"></i></a>
                    <a href="https://instagram.com/original.gg__official/" target="_blank"><i class="mdi mdi-instagram"></i></a>
                    <a href="https://youtube.com/channel/UC3VrKxY8oDM6pldT_kbAgag/featured" target="_blank"><i class="mdi mdi-youtube"></i></a>
                    <a href="https://store.original.gg" target="_blank"><i class="mdi mdi-cart"></i></a>
                    <a href="https://vote.original.gg" target="_blank"><i class="mdi mdi-map-marker-check"></i></a>
                </div>
                <div class="right">
                    <img class="language-chose pointer" src="https://images.original.gg/english.png" onclick="changeLanguage('en')" alt="en">
                    <img class="language-chose pointer" src="https://images.original.gg/romanian.png" onclick="changeLanguage('ro')" alt="ro">

                    <!--<a class="search-btn" href="/"><i class="mdi mdi-magnify"></i></a>-->
                    <a class="top-btn login" href="login" id="login-button">Login</a>
                </div>
            </div>
        </div>

        <div class="content-wrap">
            <div class="container">
                <div id="rules-body">
                    <ul>
                        <li> You are not allowed to reveal internal information </li>
                        <li> Staff members are required to answer players questions even if they violate the rules from the table (For example, if a player spams with a question, you must answer them after you have sanctioned them adequate) </li>
                        <li> Staff members are not allowed to stay AFK in sections, their duty is to pay attention to what is happening there. </li>
                        <li> Staff members with the function of Moderator -> HManager are not allowed to participate at tops </li>
                        <li> Staff members are not responsible for items lost by any method but they may sanction depending on the situation. For example: Constructions near survival protection, Trap tpa + kill, /ah scams, etc. (Most of those situations will be sanctioned with WARN) </li>
                        <li> This regulation should be considered as a guideline, for this reason it is written everywhere "Mute between Xmin-Ymin". Your duty is to be responsible / conscious and to act correctly in any situation (Remember, you are not a robot, we do not sanction if you give mute with +/- 5-10min) </li>
                        <li> In case you are not sure how to act in an unspecified situation in the table, please ask the Managers, HManagers or the owner. </li>
                        <li> We put the accent on flexibility / transparency / diplomacy. </li>
                        <li> Staff members are forced to respect and help the players. </li>
                        <li> Staff members are not allowed to abuse their power => automatically breaking the above rules. </li>

                    </ul>
                </div>
                <div id="rules-table" class="panel-table">
                    <table>
                        <tr>
                            <th style="text-align: center">Offence</th>
                            <th style="text-align: center">Description</th>
                            <th style="text-align: center">Sanction</th>
                        </tr>
                        <tr>
                            <td>Spam</td>
                            <td>
                                Any type of spam:
                                <ul>
                                    <li>Normal spam</li>
                                    <li>Word extension</li>
                                    <li>Spam /msg</li>
                                    <li>Caps-lock</li>
                                    <li>Write several consecutive messages (Enough to fill the chat)</li>
                                </ul>
                            </td>
                            <td>Mute 10-15 minutes</td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Lack of respect</li>
                                    <li>Toxicity</li>
                                    <li>Swearing</li>
                                </ul>
                            </td>
                            <td>
                                Any type of text that refers to
                                <ul>
                                    <li>Harming</li>
                                    <li>Swearing</li>
                                    <li>Toxicity</li>
                                </ul>
                            </td>
                            <td>Mute 15-30 minutes</td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Fake information</li>
                                    <li>Chat trolling</li>
                                </ul>
                            </td>
                            <td>Any text that confuses players</td>
                            <td>Warn</td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li> Direct advertising </li>
                                    <li>Indirect advertising</li>
                                </ul>
                            </td>
                            <td>Any text mentioning other servers / personal accounts / goods</td>
                            <td>
                                <ul>
                                    <li>I offence: Ban 14d</li>
                                    <li>II offence: Ban perm.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Any suspicious link</td>
                            <td>Any type of link that looks unusual and isn't from a secure website</td>
                            <td>Mute 30min-3h</td>
                        </tr>
                        <tr>
                            <td>Racism</td>
                            <td>Any mean to promote racism and harassment etc</td>
                            <td>Mute 1h</td>
                        </tr>
                        <tr>
                            <td>Hacking</td>
                            <td>The player uses external methods to their advantage</td>
                            <td>Ban Permanent</td>
                        </tr>
                        <tr>
                            <td>Disclosure of personal information</td>
                            <td>Any information disclosed by a player (whether it is correct or not)</td>
                            <td>Ban 14d</td>
                        </tr>
                        <tr>
                            <td>Bug Abuse</td>
                            <td>Any buy abuse (whether the player is conscious or not)</td>
                            <td>Ban 7d - Ban Permanent</td>
                        </tr>
                        <tr>
                            <td>Using VPN</td>
                            <td>Player uses VPN to avoid penalties</td>
                            <td>Ban Permanent</td>
                        </tr>
                        <tr>
                            <td>Using falsified evidence</td>
                            <td>Any way in which evidence is falsified in order to harm others</td>
                            <td>Ban 30d</td>
                        </tr>
                        <tr>
                            <td>AFK</td>
                            <td>Being AFK on sections where the economy isn’t based on being AFK</td>
                            <td>
                                <ul>
                                    <li>I - Ban 7d</li>
                                    <li>II - Ban 14d</li>
                                    <li>III - Ban perm</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Helpop Abuse</td>
                            <td>For any spam or swearing in helpop</td>
                            <td>Warn</td>
                        </tr>
                        <tr>
                            <td>Inappropriate Nickname</td>
                            <td>-</td>
                            <td>Ban Permanent</td>
                        </tr>
                        <tr>
                            <td>Fake Item Names</td>
                            <td>For any named items who may mislead players (An axe named “Event”)</td>
                            <td>Warn</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://js.original.gg/scripts.js"></script>
</body>
</html>