<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, HtmlRequiredTitleElement -->
<!DOCTYPE HTML>
<html lang="en_us">
<head th:replace="fragments/global :: head(title='Rules')"></head>
<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>

    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>


        <div class="content-wrap">
            <div class="container">
                <div id="rules-body">
                    <ul>
                        <li> You are not allowed to reveal internal information </li>
                        <li> Staff members are required to answer players questions even if they violate the rules from the table (For example, if a player spams with a question, you must answer them then you have sanctioned them adequate) </li>
                        <li> Staff members are not allowed to stay AFK in sections, their duty is to pay attention to what is happening there. </li>
                        <li> Staff members with the function of Moderator -> HManager are not allowed to participate at tops </li>
                        <li> Staff members are not responsible for items lost by any method but they may sanction depending on the situation. For example: Buldings near survival protection, Trap tpa + kill, /ah scams, etc. (Most of those situations will be sanctioned with WARN) </li>
                        <li> This regulation should be considered as a guideline, for this reason it is written everywhere "Mute between Xmin-Ymin". Your duty is to be responsible / conscious and to act correctly in any situation (Remember, you are not a robot, we do not sanction if you give mute with +/- 5-10min) </li>
                        <li> In case you are not sure how to act in an unspecified situation in the table, please ask the Managers, HManagers or the owner. </li>
                        <li> We put the accent on flexibility / transparency / diplomacy. </li>
                        <li> Staff members are forced to respect and help the players. </li>
                        <li> Staff members are not allowed to abuse their power => automatically breaking the above rules. </li>
                        <li> You are not allowed to contact any staff member regarding your application. Disobeying this will result in the instant denial of the application </li>

                    </ul>
                </div>
                <div id="rules-table" class="panel-table">
                    <table>
                        <tr>
                            <th style="text-align: center">Offence</th>
                            <th style="text-align: center">Description</th>
                            <th style="text-align: center">Sanction</th>
                        </tr>
                        <tr>
                            <td>Spam</td>
                            <td>
                                Any type of spam:
                                <ul>
                                    <li>Normal spam</li>
                                    <li>Word extension</li>
                                    <li>Spam /msg</li>
                                    <li>Caps-lock</li>
                                    <li>Write several consecutive messages (Enough to fill the chat)</li>
                                </ul>
                            </td>
                            <td>Mute 10-15 minutes</td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Lack of respect</li>
                                    <li>Toxicity</li>
                                    <li>Swearing</li>
                                </ul>
                            </td>
                            <td>
                                Any type of text that refers to
                                <ul>
                                    <li>Harming</li>
                                    <li>Swearing</li>
                                    <li>Toxicity</li>
                                </ul>
                            </td>
                            <td>Mute 15-30 minutes</td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Fake information</li>
                                    <li>Chat trolling</li>
                                </ul>
                            </td>
                            <td>Any text that confuses players</td>
                            <td>Warn</td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li> Direct advertising </li>
                                    <li>Indirect advertising</li>
                                </ul>
                            </td>
                            <td>Any text mentioning other servers / personal accounts / goods</td>
                            <td>
                                <ul>
                                    <li>I offence: Ban 14d</li>
                                    <li>II offence: Ban perm.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Any suspicious link</td>
                            <td>Any type of link that looks unusual and isn't from a secure website</td>
                            <td>Mute 30min-3h</td>
                        </tr>
                        <tr>
                            <td>Racism</td>
                            <td>Any mean to promote racism and harassment etc</td>
                            <td>Mute 1h</td>
                        </tr>
                        <tr>
                            <td>Hacking</td>
                            <td>The player uses external methods to their advantage</td>
                            <td>Ban Permanent</td>
                        </tr>
                        <tr>
                            <td>Disclosure of personal information</td>
                            <td>Any information disclosed by a player (whether it is correct or not)</td>
                            <td>Ban 14d</td>
                        </tr>
                        <tr>
                            <td>Bug Abuse</td>
                            <td>Any bug abuse (whether the player is conscious or not)</td>
                            <td>Ban 7d - Ban Permanent</td>
                        </tr>
                        <tr>
                            <td>Using VPN</td>
                            <td>Player uses VPN to avoid penalties</td>
                            <td>Ban Permanent</td>
                        </tr>
                        <tr>
                            <td>Using falsified evidence</td>
                            <td>Any way in which evidence is falsified in order to harm others</td>
                            <td>Ban 30d</td>
                        </tr>
                        <tr>
                            <td>Helpop Abuse</td>
                            <td>For any spam or swearing in helpop</td>
                            <td>Warn</td>
                        </tr>
                        <tr>
                            <td>Inappropriate Nickname</td>
                            <td>-</td>
                            <td>Ban Permanent</td>
                        </tr>
                        <tr>
                            <td>Fake Item Names</td>
                            <td>For any named items who may mislead players (An axe named “Event”)</td>
                            <td>Warn</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>


</body>
</html>