<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, CheckEmptyScriptTag, ThymeleafVariablesResolveInspection, HtmlRequiredTitleElement, HtmlUnknownTag -->
<html lang="en_us">
<head th:replace="fragments/global :: head(title='Staff')"></head>

<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>

    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>

        <div class="">
            <div class="container">
                <h1 class="panel-title">Staff</h1>
                <div class="grid">
                    <div class="grid-card" th:each="staff : ${staffs}" th:if="${staff.username != 'Undefined'}">
                        <div>
                            <script th:inline="javascript">
                                var name = [[${staff.username}]];
                                var uuid = [[${staff.uuid}]]
                                url = `https://cravatar.eu/helmavatar/${name}/190.png`;
                                document.write("<img class=\"avatar\" src=\"" + url + "\" alt=\"avatar\">");
                                document.write("<!-- " + uuid + "  -->");
                            </script>
                            <br>
                            <strong>
                                <div class="user" th:text="${staff.username}"/>
                            </strong>
                            <br>

                            <span class="label trainee" th:if="${staff.rank == 'trainee'}">Trainee</span>
                            <span class="label helper" th:if="${staff.rank == 'helper'}">Helper</span>
                            <span class="label jrmod" th:if="${staff.rank == 'jrmod'}">Jr.Mod</span>
                            <span class="label mod" th:if="${staff.rank == 'mod'}">Mod</span>
                            <span class="label srmod" th:if="${staff.rank == 'srmod'}">Sr.Mod</span>
                            <span class="label admin" th:if="${staff.rank == 'admin'}">Admin</span>
                            <span class="label sradmin" th:if="${staff.rank == 'sradmin'}">Sr.Admin</span>
                            <span class="label operator" th:if="${staff.rank == 'operator'}">Operator</span>
                            <span class="label supervizor" th:if="${staff.rank == 'supervizor'}">Supervizor</span>
                            <span class="label manager" th:if="${staff.rank == 'manager'}">Manager</span>
                            <span class="label hmanager" th:if="${staff.rank == 'h-manager'}">HManager</span>
                            <span class="label owner" th:if="${staff.rank == 'owner'}">Owner</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>

<script src="https://js.original.gg/translator.js"></script>

</body>
</html>