<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, HtmlRequiredTitleElement, HtmlDeprecatedAttribute -->
<html lang="en_us">
<head th:replace="fragments/global :: head(title='Store')"></head>
<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>
    <div class="page-content" style="height: 100vh !important;">
        <div th:replace="fragments/global :: topbar"></div>
        <iframe allowfullscreen="allowfullscreen" frameBorder="0" height="90%" id="store-iframe"
                src="https://store.original.gg/" style="padding-left: 1%" width="98%"></iframe>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>

</body>
</html>