<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, HtmlRequiredTitleElement -->
<html lang="en_us">
<head th:replace="fragments/global :: head(title='Unban')"></head>

<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>

    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>

        <div class="content-wrap">
            <div class="container">
                <h1 class="panel-title" id="unban-title">Request an unban</h1>

                <h3 id="error">Error message here</h3>

                <h3>If you consider that you have been wrongly banned please create a <a href="/complain">complain</a></h3>

                <div class="panel-form">
                    <form>
                        <div class="form-group">
                            <label for="staff-user" id="staff-label">Staff</label>
                            <input class="form-control" id="staff-user" type="text">
                        </div>
                        <div class="form-group">
                            <label for="reason" id="reason-label">Ban Reason</label>
                            <input class="form-control" id="reason" type="text">
                        </div>
                        <div class="form-group">
                            <label for="date_and_time" id="date_and_time-label">Date and Time</label>
                            <input class="form-control" id="date_and_time" type="text">
                        </div>
                        <div class="form-group">
                            <label for="ban" id="photo-label">Photo of Ban</label>
                            <input class="form-control" id="ban" type="text">
                        </div>
                        <div class="form-group">
                            <label for="unban-argument" id="proof-label">Why should you get unbanned</label>
                            <textarea class="form-control vertical-text" id="unban-argument"></textarea>
                        </div>
                        <div class="form-buttons">
                            <button class="form-button submit" id="submit" type="button">Submit</button>
                            <button class="form-button cancel" id="cancel">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>

<script src="https://js.original.gg/unban.js"></script>

<script>
    unbanTemplate();
</script>

</body>
</html>