<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, ThymeleafVariablesResolveInspection, HtmlRequiredTitleElement -->
<html lang="en_us">
<head th:replace="fragments/global :: head(title=${profile.username})"></head>

<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>

    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>

        <div class="content-wrap">
            <div class="container">
                <div class="user-wrap">
                    <div class="panel-sidebar">
                        <div class="user-avatar"><img th:src="@{${profile.avatarURL}}" alt="avatar" src=""></div>
                        <div class="user-info">
                            <div class="user-name" th:text="${profile.username}">Username</div>
                            <br><br>
                            <span class="label default" style="font-size: 20px" th:if="${profile.rank == 'default'}">Default</span>
                            <span class="label alpha" style="font-size: 20px"
                                  th:if="${profile.rank == 'alpha'}">Alpha</span>
                            <span class="label suprem" style="font-size: 20px" th:if="${profile.rank == 'suprem'}">Suprem</span>
                            <span class="label heda" style="font-size: 20px"
                                  th:if="${profile.rank == 'heda'}">Heda</span>
                            <span class="label xenon" style="font-size: 20px"
                                  th:if="${profile.rank == 'xenon'}">Xenon</span>
                            <span class="label god" style="font-size: 20px" th:if="${profile.rank == 'god'}">God</span>
                            <span class="label legendary" style="font-size: 20px"
                                  th:if="${profile.rank == 'legendary'}">Legendary</span>
                            <span class="label platinum" style="font-size: 20px" th:if="${profile.rank == 'platinum'}">Platinum</span>
                            <span class="label eternal" style="font-size: 20px" th:if="${profile.rank == 'eternal'}">Eternal</span>
                            <span class="label original" style="font-size: 20px" th:if="${profile.rank == 'original'}">Original</span>
                            <span class="label sponsor" style="font-size: 20px" th:if="${profile.rank == 'sponsor'}">Sponsor</span>
                            <span class="label trainee" style="font-size: 20px" th:if="${profile.rank == 'trainee'}">Trainee</span>
                            <span class="label helper" style="font-size: 20px" th:if="${profile.rank == 'helper'}">Helper</span>
                            <span class="label jrmod" style="font-size: 20px"
                                  th:if="${profile.rank == 'jrmod'}">Jr.Mod</span>
                            <span class="label mod" style="font-size: 20px" th:if="${profile.rank == 'mod'}">Mod</span>
                            <span class="label srmod" style="font-size: 20px"
                                  th:if="${profile.rank == 'srmod'}">Sr.Mod</span>
                            <span class="label admin" style="font-size: 20px"
                                  th:if="${profile.rank == 'admin'}">Admin</span>
                            <span class="label sradmin" style="font-size: 20px" th:if="${profile.rank == 'sradmin'}">Sr.Admin</span>
                            <span class="label operator" style="font-size: 20px" th:if="${profile.rank == 'operator'}">Operator</span>
                            <span class="label supervizor" style="font-size: 20px" th:if="${profile.rank == 'supervizor'}">Supervizor</span>
                            <span class="label manager" style="font-size: 20px" th:if="${profile.rank == 'manager'}">Manager</span>
                            <span class="label hmanager" style="font-size: 20px" th:if="${profile.rank == 'h-manager'}">HManager</span>
                            <span class="label owner" style="font-size: 20px"
                                  th:if="${profile.rank == 'owner'}">Owner</span>
                            <!--
                            <ul class="user-stats">
                                <li>Hunting <span>10</span></li>
                                <li>Minning <span>23</span></li>
                                <li>Fishing <span>67</span></li>
                                <li>Mobs Killed <span>6734</span></li>
                            </ul>
                            -->
                        </div>
                    </div>
                    <div class="panel-table">
                        <table>
                            <tr>
                                <td class="row-name" id="join-date">Join Date</td>
                                <td style="text-align:right;"><span class="label default" th:text="${profile.joinDate}">Unkonwn></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="row-name" id="playing-hours">Playing Hours</td>
                                <td style="text-align:right;"><span class="label default" th:text="${profile.playTime}">0s</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="row-name">Discord</td>
                                <td style="text-align:right;"><span class="label default"
                                                                    th:text="${profile.discordName}">Unlinked</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="row-name">Original Coins</td>
                                <td style="text-align:right;"><span class="label default" th:text="${profile.originalCoins}">0</span></td>
                            </tr>
                            <tr>
                                <td class="row-name" id="sanctions-row" hidden="hidden">Sanctions</td>
                                <td style="text-align:right;" id="sanctions-row-data" hidden="hidden">
                                    <span class="label default" th:text="|Bans: ${profile.bans}|">Unknown</span>
                                    <span class="label default" th:text="|Kicks: ${profile.kicks}|">Unknown</span>
                                    <span class="label default" th:text="|Mutes: ${profile.mutes}|">Unknown</span>
                                    <span class="label default" th:text="|Warnings: ${profile.warns}|">Unknown</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br><br>
                <h2><strong>Complaints</strong></h2>
                <div class="panel-table">
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>By</th>
                            <th>Target</th>
                            <th>Status</th>
                            <th>Creation Date</th>
                        </tr>
                        <tr th:each="complain : ${profile.complaints}" th:data-arg1="${complain.getURL}" onclick="redirect(this.getAttribute('data-arg1'));">
                            <td th:text="${complain.id}" class="no-decorate-url">Unknown</td>
                            <td th:text="${complain.user}">Unknown</td>
                            <td th:text="${complain.target}">Unknown</td>
                            <td th:text="${complain.status.message}">Unknown</td>
                            <td th:text="${complain.getTimestampDate}">Unknown</td>
                        </tr>
                    </table>
                </div>
                <h2><strong>Unban Requests</strong></h2>
                <div class="panel-table">
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>By</th>
                            <th>Staff</th>
                            <th>Status</th>
                            <th>Creation Date</th>
                        </tr>
                        <tr th:each="unbanRequest : ${profile.unbanRequests}" th:data-arg1="${unbanRequest.getURL}" onclick="redirect(this.getAttribute('data-arg1'));">
                            <td th:text="${unbanRequest.id}" class="no-decorate-url">Unknown</td>
                            <td th:text="${unbanRequest.user}">Unknown</td>
                            <td th:text="${unbanRequest.staff}">Unknown</td>
                            <td th:text="${unbanRequest.status.message}">Unknown</td>
                            <td th:text="${unbanRequest.getTimestampDate}">Unknown</td>
                        </tr>
                    </table>
                </div>
                <h2><strong>Application</strong></h2>
                <div class="panel-table">
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Status</th>
                            <th>Creation Date</th>
                        </tr>
                        <tr th:each="apply : ${profile.applications}" th:data-arg1="${apply.getURL}" onclick="redirect(this.getAttribute('data-arg1'));">
                            <td th:text="${apply.id}" class="no-decorate-url">Unknown</td>
                            <td th:text="${apply.status.message}">Unknown</td>
                            <td th:text="${apply.getTimestampDate}">Unknown</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>

<script src="https://js.original.gg/translator.js"></script>
<script src="https://js.original.gg/profile.js"></script>
<script>
    profileTemplate();
</script>

</body>
</html>